{#
/**
 * @file
 * Theme override to display an item in a views RSS feed with Google News Fields.
 *
 * Available variables:
 * - title: RSS item title.
 * - link: RSS item link.
 * - description: RSS body text.
 * - item_elements: RSS item elements to be rendered as XML (pubDate, creator,
 *   guid).
 *
 * @see template_preprocess_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}

<item>
  {% for item in item_elements -%}
    {% if item.key starts with 'g' %}
      <{{ item.key }}{{ item.attributes -}}
      {% if item.value or item.subitems -%}
        >
        {% if item.subitems %}
          {% for subitem in item.subitems %}
            <{{ subitem.key }}>{{- subitem.value }}</{{ subitem.key }}>
          {% endfor %}
        {% else %}
          {{- item.value }}
        {% endif %}
        </{{ item.key }}>
      {% else -%}
        {{ ' />' }}
      {% endif %}
    {% endif %}
  {%- endfor %}
</item>
