{#
/**
 * @file
 * Theme override for feed displays that use the Google News RSS style.
 *
 * Available variables:
 * - link: The link to the feed (the view path).
 * - namespaces: The XML namespaces (added automatically).
 * - title: The title of the feed (as set in the view).
 * - description: The feed description (from feed settings).
 * - langcode: The language encoding.
 * - channel_elements: The formatted channel elements.
 * - items: The feed items themselves.
 *
 * @see template_preprocess_views_view_rss()
 */
#}
<?xml version="1.0" encoding="UTF-8" ?>
<urlset{{ namespaces }}>
  {{ items }}
</urlset>
